[user]
	name = Charlie Moog
	email = moogcharlie@gmail.com
	signingkey = 82154F63CB738D2F
[merge]
	tool = vimdiff
	conflictstyle = diff3
[pull]
	rebase = true
[fetch]
	prune = true
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[commit]
	gpgsign = true
[credential]
	helper = osxkeychain
[core]
	editor = vim
	excludesfile = ~/.gitignore
	pager = delta
[delta]
	plus-color = "#012800"
	minus-color = "#340001"
	syntax-theme = gruvbox
	line-numbers = true
	side-by-side = true
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
[interactive]
	diffFilter = delta --color-only
[alias]
	cfb = !git commit -m \"$(echo $(git rev-parse --abbrev-ref HEAD) | rev | cut -d/ -f1 | rev |  tr \"-\" \" \" | sed \"s/.*/\\u&/\")\" && git commit --amend
	ca  = commit --amend --verbose
	ap = add -p
	a = add -A
	c  = commit --verbose
	cax = commit --amend --no-edit 
	cb = checkout -b
	f = "! git commit --fixup $(git log --pretty='%H' -1 --invert-grep --grep 'fixup! ')"
	rb = rebase --autostash --autosquash --interactive
	d = diff
	push-f = push --force-with-lease
	s = status
	last = log -1
	rc = rebase --continue
	releasenotes = log --no-merges --pretty=format:\"- %h %s\"
	slog = shortlog -n --no-merges
	m = checkout master
	sm = submodule update --init --recursive
