[user]
name = Charlie Moog
email = moogcharlie@gmail.com

# stored in secure enclave w/ auth required
signingKey = key::ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBGxStcvVFF2s/4GFuLj8ehTzzD1B8Ct9Ntds1G1WONyEUShl8oHoZiByjObeX2wyfJx3ZpzhJ/A7Wa73bTL85Yk= ecdsa-sha2-nistp256

[core]
excludesfile = ~/.gitignore
pager = delta

[gpg]
format = ssh

[commit]
gpgsign = true

[merge]
conflictstyle = diff3

[fetch]
prune = true

[diff]
colorMoved = default

[difftool]
prompt = false

[delta]
plus-style = syntax "#012800"
minus-style = normal "#340001"
line-numbers = true
side-by-side = true
navigate = true

[interactive]
diffFilter = delta --color-only

[alias]
ca = commit --amend --verbose
a = add -A
c = commit --verbose
cb = checkout -b
f = "! git commit --fixup $(git log --pretty='%H' -1 --invert-grep --grep 'fixup! ')"
rb = rebase --autostash --autosquash --interactive
d = diff
pushf = push --force-with-lease
s = status
last = log -1
releasenotes = log --no-merges --pretty=format:\"- %h %s\"
m = """! \
	if git rev-parse --verify master >/dev/null 2>/dev/null; \
	then git checkout master; else git checkout main; fi \
	"""
sm = submodule update --init --recursive
