{
  "layer": "top",
  "position": "top",
  "height": 30,

  "modules-left": [
    "sway/workspaces",
    "sway/mode"
  ],
  "modules-center": [
    "sway/window"
  ],
  "modules-right": [
    "pulseaudio",
    "network",
    "memory",
    "cpu",
    "temperature",
    "clock#date",
    "clock#time"
  ],
  "clock#time": {
    "interval": 1,
    "format": "{:%I:%M:%S %p}"
  },
  "clock#date": {
    "interval": 10,
    "format": "{:%e %b %Y}"
  },
  "cpu": {
    "interval": 5,
    "format": "  {usage}% ({load})"
  },
  "memory": {
    "interval": 5,
    "format": "  {}%"
  },
  "network": {
    "interval": 5,
    "format-wifi": "  {essid} ({signalStrength}%)",
    "format-ethernet": "  {ifname}: {ipaddr}/{cidr}",
    "format-disconnected": "⚠  Disconnected"
  },
  "sway/mode": {
    "format": "<span style=\"italic\">  {}</span>"
  },
  "sway/window": {
    "format": "{}",
    "max-length": 120
  },
  "temperature": {
    "critical-threshold": 80,
    "interval": 5,
    "format": "{temperatureC}°C"
  },
  "pulseaudio": {
    "interval": 60,
    "format": "{icon} {volume}%",
    "format-muted": "",
    "format-source": "{icon} {volume}%",
    "format-source-muted": "",
    "format-icons": {
        "default": ["", "", ""]
    }
  }
}
